@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p style="padding-left: 75px; padding-right: 75px">
    E-Sports Academy is a premier online E-Sports game coaching platform that provides professional gamers and fun gamers with professional game coaching services that’ll help them achieve their dreams. We aim at bringing out the uniqueness and skills in our gamers, and we position them to successfully build their gaming career and effortlessly fit into the industry.

    With E-Sports Academy, gamers are trained to excel in different games. We believe that inside every player lies a champion waiting to be unlocked, and our professional gaming coaches help our gamers unlock the greatness in them to make classic plays and win more games. Whether a beginner, average player or pro, every gamer can leverage our platform to gain access to personalized coaching and training in many of the most popular games.

    No matter your goal, skill level, and interest when it comes to games, we’ve got you covered with coaches that will bring out the best in you!
</p>
