@{
    ViewBag.Title = "TermsOfService";
}

<html xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:w="urn:schemas-microsoft-com:office:word"
      xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
      xmlns="http://www.w3.org/TR/REC-html40">




    <div class=WordSection1 style="padding-left: 75px; padding-right: 75px;">

        <p class=MsoNormalCxSpFirst align=center style='margin-bottom:0cm;margin-bottom:
.0001pt;mso-add-space:auto;text-align:center;text-indent:35.4pt;line-height:
normal'>
            <b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US
                      style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                    Terms
                    of Service<o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormalCxSpMiddle style='margin-bottom:0cm;margin-bottom:.0001pt;
mso-add-space:auto;line-height:normal'>
            <span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>Last updated: 31-05-2019<o:p></o:p></span>
        </p>

        <p class=MsoNormalCxSpMiddle style='margin-bottom:0cm;margin-bottom:.0001pt;
mso-add-space:auto;line-height:normal'>
            <span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoNormalCxSpMiddle style='margin-bottom:0cm;margin-bottom:.0001pt;
mso-add-space:auto;line-height:normal'>
            <span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                The ESPORT ACADEMY
                website is operated by ESport Academy IvS., a company incorporated under the
                laws of Denmark. <o:p></o:p>
            </span>
        </p>

        <p class=MsoNormalCxSpMiddle style='margin-bottom:0cm;margin-bottom:.0001pt;
mso-add-space:auto;line-height:normal'>
            <span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                This Terms of Service
                (Terms) defines how we provide services on the ESPORT ACADEMY website, located
                at https://escademy.com, and what services are available through the website.
                Please read this Terms carefully before using ESPORT ACADEMY website.<span style='mso-spacerun:yes'></span>We may update this Terms from time to time,
                and your continued use of the ESPORT ACADEMY website constitutes acceptance by
                you of any updates.<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormalCxSpMiddle style='margin-bottom:0cm;margin-bottom:.0001pt;
mso-add-space:auto;line-height:normal'>
            <span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoNormalCxSpMiddle style='margin-bottom:0cm;margin-bottom:.0001pt;
mso-add-space:auto;line-height:normal'>
            <span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                BY PERFORMING ACCOUNT
                REGISTRATION AND<span style='mso-spacerun:yes'>  </span>SELECTING “I ACCEPT”
                CHECKBOX, OR BY USING ESPORT ACADEMY WEBSITE YOU AGREE TO BE BOUND WITH AND TO
                COMPLY WITH THIS TERMS, AND WEBSITE <a href="@Url.Action("PrivacyPolicy","Home")">PRIVACY POLICY</a>.

        </p>

        <p class=MsoNormalCxSpMiddle style='margin-bottom:0cm;margin-bottom:.0001pt;
mso-add-space:auto;line-height:normal'>
            <span lang=EN-GB style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-GB'>
                YOU ASSERT THAT YOU ARE
                EITHER LEGAL AGE (18 YEARS OLD), OR AN <span style='mso-no-proof:yes'>EMANCIPATED</span>
                MINOR, OR <span style='mso-no-proof:yes'>POSSESS</span> LEGAL CONSENT OF YOUR
                PARENT OR GUARDIAN, AND YOU ARE HAVING THE POWER AND COMPETENT TO ENTER INTO
                AND TO <span style='mso-no-proof:yes'>COMPLY</span> WITH <span style='mso-no-proof:yes'>THESE</span> TERMS. NEVERTHELESS, THIS WEBSITE IS NOT
                DEDICATED TO <span style='mso-no-proof:yes'>CHILDREN</span> UNDER THE AGE OF 13
                YEARS OLD. IN CASE IF YOU ARE UNDER THE AGE OF <a style='mso-comment-reference:
Y_2;mso-comment-date:20190525T1908'>13 YEARS</a>
            </span><span lang=EN-GB style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:
EN-GB'> OLD, PLEASE DO NOT USE THIS WEBSITE AND LEAVE IT IMMEDIATELY.</span><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:
EN-US'><o:p></o:p></span>
        </p>

        <p class=MsoNormalCxSpLast style='margin-bottom:0cm;margin-bottom:.0001pt;
mso-add-space:auto;line-height:normal'>
            <span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoListParagraphCxSpFirst style='margin-bottom:0cm;margin-bottom:.0001pt;
mso-add-space:auto;text-indent:-18.0pt;line-height:normal;mso-list:l6 level1 lfo9'>
            <![if !supportLists]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;mso-ansi-language:
EN-US'>
                    <span style='mso-list:Ignore'>
                        1.<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span>
            </b><![endif]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:
EN-US'>DEFINITIONS.<o:p></o:p></span>
            </b>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;mso-add-space:auto;line-height:normal'>
            <b style='mso-bidi-font-weight:
normal'>
                <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-ansi-language:EN-US'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    1.1.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><b style='mso-bidi-font-weight:normal'>
                <u>
                    <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:
EN-US'>Player</span>
                </u>
            </b><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                means any user of the website
                who created a player account and want to receive coaching services. <o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    1.2.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><b style='mso-bidi-font-weight:normal'>
                <u>
                    <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:
EN-US'>Coach</span>
                </u>
            </b><span lang=EN-US style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-ansi-language:EN-US'>
                means any user of the website who
                created a coach account in order to provide coaching services.<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    1.3.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><b style='mso-bidi-font-weight:normal'>
                <u>
                    <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:
EN-US'>Coaching</span>
                </u>
            </b><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                means any services
                provided by Coach to the Player in compliance with this Terms.<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    1.4.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><b style='mso-bidi-font-weight:normal'>
                <u>
                    <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:
EN-US'>Services</span>
                </u>
            </b><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                means all services
                provided by and accessible through ESPORTS ACADEMY, in particular applications,
                products, messaging systems, and other online services.<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    1.5.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><b style='mso-bidi-font-weight:normal'>
                <u>
                    <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:
EN-US'>Content</span>
                </u>
            </b><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                means any comments,
                remarks, data, feedback, images, video, text or other information that any User
                publish to any part of the website, including such information that is posted
                as a result of questions.<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    1.6.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><b style='mso-bidi-font-weight:normal'>
                <u>
                    <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:
EN-US'>Coaching</span>
                </u>
            </b><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                <b style='mso-bidi-font-weight:
normal'><u>Lesson</u></b> means any lesson between Coach and Player.<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    1.7.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><b style='mso-bidi-font-weight:normal'>
                <u>
                    <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:
EN-US'>User</span>
                </u>
            </b><span lang=EN-US style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-ansi-language:EN-US'>
                means any person who accesses or
                uses the ESPORT ACADEMY, including person who create Coach or Player account,
                any site visitor, or any representative of entity on whose behalf any such
                person accesses or uses ESPORT ACADEMY.<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
line-height:normal'>
            <b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US
                      style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:EN-US'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;mso-add-space:auto;text-indent:-18.0pt;line-height:normal;mso-list:
l6 level1 lfo9'>
            <![if !supportLists]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                    <span style='mso-list:Ignore'>
                        2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>
                    </span>
                </span>
            </b><![endif]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>GENERAL<o:p></o:p></span>
            </b>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    2.1.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                The ESPORT ACADEMY
                renders a marketplace where Players can find Coaches for their learning
                purposes. Players and Coaches can manage Coaching sessions, discuss their
                requirements by exchanging messages, arrange Coaching Lessons and make
                payments.<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    2.2.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                To use the Services, User
                must create Coach or Player account by using the website homepage.
            </span><span lang=EN-GB style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:
EN-GB'>
                The account is created by clicking on the “Sign Up” button on the home
                page, follow the steps provided and enter the required information.
            </span><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:
EN-US'><o:p></o:p></span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    2.3.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                User, who create Coach
                profile should create a listing for the video game they coaching in, and what
                is his hourly fee for coaching.<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
line-height:normal'>
            <b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US
                      style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:EN-US'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;mso-add-space:auto;text-indent:-18.0pt;line-height:normal;mso-list:
l6 level1 lfo9'>
            <![if !supportLists]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                    <span style='mso-list:Ignore'>
                        3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>
                    </span>
                </span>
            </b><![endif]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>ACCEPTABLE USE<o:p></o:p></span>
            </b>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    3.1.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                Any User <span style='mso-spacerun:yes'></span>shall (1) comply with this Terms while using website;
                (2) hold their account login information confidential; (3) immediately inform
                ESPORT ACADEMY on any illegal activity or a security breach of website or data;
                (4) perform any written communication with Coaches or Players regarding
                organization and arrangement of Coaching Lesson only via ESPORT ACADEMY;<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    3.2.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                Any User shall not (1)<span style='mso-spacerun:yes'></span>provide access to their Coach or Player account
                to another person (including resell); (2) upload or public Content that
                infringes third party trademark, copyright, intellectual property, data
                protection laws or which is defamatory, offensive or illegal; (3) upload to the
                website any file that contains or redirects to a virus, worm, Trojan horse, or
                other harmful technology or component that unlawfully accesses alternatively,
                downloads content or information stored within the ESPORT ACADEMY website or on
                the hardware of ESport Academy IvS,<span style='mso-spacerun:yes'>  </span>or its
                affiliates or service providers; (5) decompile, interfere with, hack, reverse
                engineer, disassemble, modify, copy, or disrupt the functionality, integrity,
                features, or performance of ESPORT ACADEMY; (6) access the ESPORT ACADEMY in
                with intend and/or in order to create a comparable or similar website or
                service, or copy any features, graphics, ideas, or functions of the ESPORT
                ACADEMY; 2<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    3.3.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                The ESPORT ACADEMY retains
                the right to suspend any Coach or Player, accused in breaching of this Terms,
                and, in such circumstances, cancel any existing Coaching Lessons booked.<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
line-height:normal'>
            <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-ansi-language:EN-US'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;mso-add-space:auto;text-indent:-18.0pt;line-height:normal;mso-list:
l6 level1 lfo9'>
            <![if !supportLists]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                    <span style='mso-list:Ignore'>
                        4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>
                    </span>
                </span>
            </b><![endif]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>COACHING LESSON<o:p></o:p></span>
            </b>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    4.1.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                Before making a booking
                of Coaching Lesson, the Player shall perform a Coach search via Services. Player
                is solely responsible for checking applicability of particular coach. Upon
                choosing applicable Coach, terms of Coaching Lesson shall be arranged between Player
                and Coach. <o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    4.2.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                The Coaching Lesson fee
                will be displayed on both Coach and Player accounts while booking confirmation.
                <o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    4.3.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                To confirm any first booking,
                Player must provide valid payment details.<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    4.4.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                After booking
                confirmation, Player shall conclude a contract with Coach for the Coaching
                Lessons provision. ESPORT ACADEMY does not provide any guarantees and does not
                bear any liability for the Coaching Lessons provided by particular Coach. <o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
line-height:normal'>
            <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-ansi-language:EN-US'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;mso-add-space:auto;text-indent:-18.0pt;line-height:normal;mso-list:
l6 level1 lfo9'>
            <![if !supportLists]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                    <span style='mso-list:Ignore'>
                        5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>
                    </span>
                </span>
            </b><![endif]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>USER UNDERTAKINGS<o:p></o:p></span>
            </b>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    5.1.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                User is solely
                responsible for all Content they post on the website, including, but not
                limited to messages sent. <o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    5.2.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                User must immediately
                inform ESPORT ACADEMY on any defamatory, offensive or illegal Content published
                on the website. <o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
line-height:normal'>
            <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-ansi-language:EN-US'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;mso-add-space:auto;text-indent:-18.0pt;line-height:normal;mso-list:
l6 level1 lfo9'>
            <![if !supportLists]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                    <span style='mso-list:Ignore'>
                        6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>
                    </span>
                </span>
            </b><![endif]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>CONTENT<o:p></o:p></span>
            </b>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    6.1.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                By posting or placing
                Content<span style='mso-spacerun:yes'>  </span>on the website User grant to
                ESPORT ACADEMY worldwide, royalty-free, irrevocable, perpetual, non-exclusive
                right and fully sub-licensable license to reproduce, use, publicly perform, publish,
                copy, distribute, modify, publicly display, translate, store, adapt, archive,
                and create derivative works from such Content, in whole or in part, in any
                form, format of any kind now known or later developed.<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    6.2.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                For avoidance of doubt
                and without limitation of the conditions aforementioned in this section, the
                User authorize ESPORT ACADEMY to: (i) share the Content across all software,
                mobile applications, websites, services, platforms, blogs, news websites and
                other services related to or affiliated with ESPORT ACADEMY; (ii) place
                advertisements in close nearness to such Content. The User also <span style='mso-no-proof:yes'>grants</span> ESPORT ACADEMY the right to use any,
                ideas, information, material(s), concept(s), technique(s) or know-how contained
                in any Content provided to the ESPORT ACADEMY. For the avoidance of doubts, all
                rights granted under this Section 6 are free of any payments or royalties.<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
line-height:normal'>
            <b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US
                      style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:EN-US'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;mso-add-space:auto;text-indent:-18.0pt;line-height:normal;mso-list:
l6 level1 lfo9'>
            <![if !supportLists]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                    <span style='mso-list:Ignore'>
                        7.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>
                    </span>
                </span>
            </b><![endif]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                    <span style='mso-spacerun:yes'></span>PAYMENTS<o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    7.1.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                The fee for Coaching
                Lesson is determined based on the number of hours of Coaching ordered by Player.
                <o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    7.2.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                The fee for Coaching
                Lesson is payed to ESPORT ACADEMY by the Player upon booking confirmed.<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    7.3.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                Upon payment of
                Coaching Lesson fee, ESPORT ACADEMY shall automatically charge transaction<span style='mso-spacerun:yes'></span>processing fee and Services fee which is
                equal to 10% from the payment made. <o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    7.4.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                The final fee with
                deducted of transaction processing and Service fees shall be transferred to the
                Coach within 7 days after Coaching Lesson is performed.<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    7.5.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                Fee paid by the Player
                can be refunded if booking of Coaching Lesson cancelled before its beginning. <o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
line-height:normal'>
            <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-ansi-language:EN-US'><span style='mso-spacerun:yes'> </span><o:p></o:p></span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;mso-add-space:auto;text-indent:-18.0pt;line-height:normal;mso-list:
l6 level1 lfo9'>
            <![if !supportLists]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                    <span style='mso-list:Ignore'>
                        8.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>
                    </span>
                </span>
            </b><![endif]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>PLAYER COMPLAINTS<o:p></o:p></span>
            </b>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    8.1.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                The right to complaint
                occurred when Player missed Coaching Lesson due to any failure of Coach. The Player
                shall provide a complaint by email within 24 hours of the scheduled finish time
                of the relevant Coaching Lesson. <o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    8.2.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                The Player agrees that
                any complaint received more than 24 hours after the scheduled Coaching Lesson
                shall be rejected by the ESPORT ACADEMY. Meanwhile, in such case Player waive
                its right to file such compliant.<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    8.3.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                After receiving a valid
                complaint, ESPORT ACADEMY shall contact the Coach within 24 hours by email and
                text message to inform them that a complaint has been raised. <o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    8.4.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                After receiving a
                complaint, Coach can dispute it and request respective complaint pieces of
                evidence. The ESPORT ACADEMY may refuse in compliant if the provided pieces of
                evidence do not confirm the complaint facts <o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    8.5.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                If the complaint arises
                due to ESPORT ACADEMY failing to provide the Services outlined in these Terms and
                ESPORT ACADEMY agree with the evidence, Player shall receive a refund of fee
                paid. For avoidance of doubt, in such case Coach shall not be entitled for
                refund of any kind.<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    8.6.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                If compliant is
                reasonable and proved by evidences ESPORT ACADEMY shall instruct PayPal to
                process a full refund to the Player of the fee paid.<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
line-height:normal'>
            <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-ansi-language:EN-US'><span style='mso-spacerun:yes'> </span><o:p></o:p></span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;mso-add-space:auto;text-indent:-18.0pt;line-height:normal;mso-list:
l6 level1 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;mso-ansi-language:
EN-US'>
                <span style='mso-list:Ignore'>
                    9.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:
EN-US'>LIMITATION OF LIABILITY; DISCLAIMER</span>
            </b><span lang=EN-US
                      style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>.<o:p></o:p></span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    9.1.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                The ESPORT ACADEMY shall
                not be liable for any damage or loss caused to any User by ESPORT ACADEMY employees,
                representatives affiliates or agents when (1) no breach of a legal duty of care
                owed by the ESPORT ACADEMY is present; (2)<span style='mso-spacerun:yes'>
                </span>the damage or loss was not rationally foreseeable by the parties;(3)
                any<span style='mso-spacerun:yes'>  </span>damage or loss is not caused by
                non-compliance to these Terms.<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    9.2.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                The ESPORT ACADEMY liability
                is limited to EURO 1000 or the total fee paid by User to ESPORT ACADEMY in the
                12 months before the event(s) complained of, whichever is lower. <o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    9.3.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                The ESPORT ACADEMY shall
                not be liable for any (1) economic losses, including but not limited to,
                profits, loss of revenues, business or anticipated savings, contracts; (2) loss
                of reputation or goodwill; (3) special, consequential or indirect losses; (4)
                damage to or loss of data (even if ESPORT ACADEMY has been advised of the
                possibility of such losses). <o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    9.4.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                The ESPORT ACADEMY
                website and Services are provided “as is” and “as available” without any fit
                for a particular purpose, without warranty of any type, implied or express,
                including without limitation any implied warranties of condition, error-free or
                uninterrupted, merchantability, no infringement, time, and those arising from
                course of dealing or usage of trade. Any User is solely responsible for
                decision to use the ESPORT ACADEMY and <span style='mso-no-proof:yes'>bears</span>
                all the risks arising from such use.<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    9.5.<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                ESPORT ACADEMY does not
                endorse or represent the reliability, correctness or accuracy of any information
                provided by the Coach distributed through the ESPORT ACADEMY. Any reliance upon
                such information is at the Player’s sole risk. <o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
line-height:normal'>
            <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-ansi-language:EN-US'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;mso-add-space:auto;text-indent:-18.0pt;line-height:normal;mso-list:
l6 level1 lfo9'>
            <![if !supportLists]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                    <span style='mso-list:Ignore'>
                        10.<span style='font:7.0pt "Times New Roman"'></span>
                    </span>
                </span>
            </b><![endif]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>INDEMNIFICATION<o:p></o:p></span>
            </b>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    10.1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:
EN-US'>
                User agree to indemnify and hold harmless ESPORT ACADEMY, and its
                officers, directors, shareholders, employees, consultants, agents,
                representatives, affiliates and related bodies corporate from and against all
                losses, damages, expenses and costs (including solicitor-client costs on a full
                indemnity basis) and all third-party claims, liability, losses, damages,
                expenses and costs arising from any claim, demand, suit, action or proceeding
                by any person against any of those indemnified in relation to or in connection
                with its use of the ESPORT ACADEMY and Services or its failure to comply with
                these Terms, or from its violation of any applicable.<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
line-height:normal'>
            <b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US
                      style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:EN-US'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;mso-add-space:auto;text-indent:-18.0pt;line-height:normal;mso-list:
l6 level1 lfo9'>
            <![if !supportLists]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                    <span style='mso-list:Ignore'>
                        11.<span style='font:7.0pt "Times New Roman"'></span>
                    </span>
                </span>
            </b><![endif]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                    INTELECTUAL PROPERTY
                    RIGHTS<o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    11.1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:
EN-US'>
                Ownership. All rights, copyrights, patents, trade secrets, trade dress,
                know-how, technical information, inventions, discoveries, improvements, ideas,
                concepts, discoveries, texts, images and other proprietary rights, and any
                derivative works thereof (including improvements) embodied in the ESPORT
                ACADEMY website belong solely and exclusively to ESport Academy IvS.<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    11.2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:
EN-US'>
                Nothing in this Terms grant any license for the ESPORT ACADEMY website
                to User.<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    11.3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:
EN-US'>
                Trademarks. The ESPORT ACADEMY name and logo are trademarks of ESport
                Academy IvS., and may not be used, copied, or imitated, in whole or in part,
                without the express prior written approval of ESport Academy IvS. The look and
                feel of the ESPORT ACADEMY (including all page headers, custom graphics, button
                icons, and scripts) form the trademarks, service marks and trade dress,
                belonging to ESport Academy IvS. and may not be used, copied and/or imitated in
                whole or in part, without the express prior written approval of ESport Academy
                IvS.. The use of any of trademarks without<span style='mso-spacerun:yes'>
                </span>ESport Academy IvS. express written consent is strictly prohibited.<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
line-height:normal'>
            <b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US
                      style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:EN-US'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;mso-add-space:auto;text-indent:-18.0pt;line-height:normal;mso-list:
l6 level1 lfo9'>
            <![if !supportLists]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                    <span style='mso-list:Ignore'>
                        12.<span style='font:7.0pt "Times New Roman"'></span>
                    </span>
                </span>
            </b><![endif]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>WARRANTIES<o:p></o:p></span>
            </b>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    12.1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:
EN-US'>
                Each party warrants and represents that it is eligible to be bound by
                this Terms.<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    12.2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:
EN-US'>
                The User warrants and represents that its use of the ESPORT ACADEMY
                website and Services will comply and at all times meet its representations and
                obligations outlined in this Terms.<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
line-height:normal'>
            <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-ansi-language:EN-US'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;mso-add-space:auto;text-indent:-18.0pt;line-height:normal;mso-list:
l6 level1 lfo9'>
            <![if !supportLists]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                    <span style='mso-list:Ignore'>
                        13.<span style='font:7.0pt "Times New Roman"'></span>
                    </span>
                </span>
            </b><![endif]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>PRIVACY<o:p></o:p></span>
            </b>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    13.1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:
EN-US'>
                The ESPORT ACADEMY shall process personal information processed, collected,
                used, and received, for the provision of the Services as per this Terms and
                website Privacy Policy (LINK XXXXXXXXXX).<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
line-height:normal'>
            <b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US
                      style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:EN-US'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;margin-bottom:
.0001pt;mso-add-space:auto;text-indent:-18.0pt;line-height:normal;mso-list:
l6 level1 lfo9'>
            <![if !supportLists]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                    <span style='mso-list:Ignore'>
                        14.<span style='font:7.0pt "Times New Roman"'></span>
                    </span>
                </span>
            </b><![endif]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black;
mso-ansi-language:EN-US'>FORCE MAJEURE</span>
            </b><b style='mso-bidi-font-weight:
normal'>
                <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-ansi-language:EN-US'><o:p></o:p></span>
            </b>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    14.1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;color:black;mso-ansi-language:EN-US'>
                “Force Majeure” means unforeseeable
                circumstances acts, events or occurrences that prevent
            </span><span lang=EN-US
                         style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                ESPORT
                ACADEMY
            </span><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial;color:black;mso-ansi-language:EN-US'>
                from
                providing the Service to the User, including but not limited to terrorism,
                strikes, riots or civil commotion, war, flood, act of God, accident, fire ,
                storm, interruption of power supply, electronic, communication equipment or
                supplier failure, civil unrest, statutory provisions or lockouts.
            </span><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:
EN-US'><o:p></o:p></span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    14.2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;color:black;mso-ansi-language:EN-US'>The</span><span lang=EN-US
                                                           style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                ESPORT
                ACADEMY
            </span><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial;color:black;mso-ansi-language:EN-US'>
                shall have a
                right to, at its own reasonable discretion determine the existence Force
                Majeure and take reasonable steps to inform the User.
            </span><span lang=EN-US
                         style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:EN-US'><o:p></o:p></span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    14.3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;color:black;mso-ansi-language:EN-US'>In the event of Force Majeure</span><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:
EN-US'>ESPORT ACADEMY</span><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black;
mso-ansi-language:EN-US'>
                may without prior written notice and at any time: (1)
                suspend or modify any or all terms of the Terms of Service or Privacy policy to
                the extent that the Force Majeure makes it impractical or impossible for the
            </span><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:
EN-US'>ESPORT ACADEMY</span><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black;
mso-ansi-language:EN-US'>
                to comply with them; or (2) take or omit to take all
                such actions as
            </span><span lang=EN-US style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-ansi-language:EN-US'>ESPORT ACADEMY</span><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;color:black;mso-ansi-language:EN-US'>
                considers to be reasonably
                appropriate in the circumstances with regard to
            </span><span lang=EN-US
                         style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>
                ESPORT
                ACADEMY
            </span><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-fareast-font-family:Arial;color:black;mso-ansi-language:EN-US'>
                , the User
                and other users.
            </span><span lang=EN-US style='font-size:12.0pt;font-family:
"Arial",sans-serif;mso-ansi-language:EN-US'><o:p></o:p></span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    14.4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;color:black;mso-ansi-language:EN-US'>In the event of Force Majeure,</span><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:
EN-US'>ESPORT ACADEMY</span><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black;
mso-ansi-language:EN-US'>
                shall not be liable to the User in respect of any
                consequential, nonfinancial, direct or indirect damage.
            </span><span lang=EN-US
                         style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:EN-US'><o:p></o:p></span>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
line-height:normal'>
            <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-ansi-language:EN-US'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoListParagraphCxSpLast style='margin-bottom:0cm;margin-bottom:.0001pt;
mso-add-space:auto;text-indent:-18.0pt;line-height:normal;mso-list:l6 level1 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    15.<span style='font:7.0pt "Times New Roman"'></span>
                </span>
            </span><![endif]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black;
mso-ansi-language:EN-US'>NOTICES</span>
            </b><span lang=EN-US style='font-size:
12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:EN-US'><o:p></o:p></span>
        </p>

        <p class=MsoNormalCxSpFirst style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;text-align:
justify;text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9;
border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;color:black;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    15.1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;color:black;mso-ansi-language:EN-US'>
                If you have any questions regarding
                Service functionality or data protection you can send us notice.<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormalCxSpMiddle style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;text-align:
justify;text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9;
border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
minor-latin;color:black;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    15.2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;color:black;mso-ansi-language:EN-US'>
                All notices shall be given to by
                email to Official@escademy.com. All notices shall be deemed received 5 days
                after posting if sent by first class post, the day of sending if the email is
                received in full on a business day and on the next business day if the email is
                sent on a weekend or public holiday.
            </span><span lang=EN-US style='font-size:
12.0pt;color:black;mso-ansi-language:EN-US'><o:p></o:p></span>
        </p>

        <p class=MsoNormalCxSpLast style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;text-align:
justify;line-height:normal;border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'>
            <span lang=EN-US style='font-size:12.0pt;color:black;
mso-ansi-language:EN-US'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoListParagraphCxSpFirst style='margin-bottom:0cm;margin-bottom:.0001pt;
mso-add-space:auto;text-indent:-18.0pt;line-height:normal;mso-list:l6 level1 lfo9'>
            <![if !supportLists]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;mso-ansi-language:
EN-US'>
                    <span style='mso-list:Ignore'>
                        16.<span style='font:7.0pt "Times New Roman"'>
                        </span>
                    </span>
                </span>
            </b><![endif]><b style='mso-bidi-font-weight:normal'>
                <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:
EN-US'>MISCELLANEOUS<o:p></o:p></span>
            </b>
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    16.1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-ansi-language:
EN-US'>
                This Terms shall be governed by the Danish law, without regard to the
                choice or conflicts of law provisions of any jurisdiction. Any actions,
                disputes, causes of action or claims arising out of or in connection with this
                Terms shall be subject to the exclusive jurisdiction of the courts located in Denmark.<o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraphCxSpLast style='margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    16.2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;color:black;mso-ansi-language:EN-US'>
                If any term of Terms of Service is
                held to be invalid or unenforceable, that term shall be reformed to achieve as
                nearly as possible, the same effect as the original term, and the remainder of
                Terms of Service shall remain in full force. If any court or administrative
                body of competent jurisdiction to be invalid or unenforceable finds any
                provision of the Terms of Service, then the invalidity or unenforceability
                shall not affect the other provisions, and all provisions not affected shall
                remain in full force and effect.
            </span><span lang=EN-US style='font-size:12.0pt;
font-family:"Arial",sans-serif;mso-ansi-language:EN-US'>ESPORT ACADEMY</span><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;color:black;mso-ansi-language:EN-US'>
                will attempt to substitute with a
                valid or enforceable provision, which achieves to the greatest extent possible
                the economic, legal and commercial objectives of the invalid or unenforceable
                provision.
            </span><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-ansi-language:EN-US'><o:p></o:p></span>
        </p>

        <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;text-align:justify;
text-indent:-36.0pt;line-height:normal;mso-list:l6 level2 lfo9;tab-stops:21.3pt;
border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>
            <![if !supportLists]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;color:black;mso-ansi-language:EN-US'>
                <span style='mso-list:Ignore'>
                    16.3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </span>
            </span><![endif]><span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
Arial;color:black;mso-ansi-language:EN-US'>
                These Terms of Service do not, and
                shall not be construed as creating any relationship, partnership, joint
                venture, employer-employee, agency, or franchisor-franchisee relationship in
                any way and of any kind between the parties hereto. <o:p></o:p>
            </span>
        </p>

        <p class=MsoListParagraph style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:54.0pt;margin-bottom:.0001pt;mso-add-space:auto;line-height:
normal'>
            <span lang=EN-US style='font-size:12.0pt;font-family:"Arial",sans-serif;
mso-ansi-language:EN-US'><o:p>&nbsp;</o:p></span>
        </p>

    </div>



</html>

