.header {
    background: #343a40;
}

.logo {
    max-width: 100%;
    max-height: 60px;
}





h2.contact-heading {
    font-size: 24px;
    margin-bottom: 40px;
    position: relative;
    text-transform: uppercase;
}

    h2.contact-heading:before {
        background: #ff5f2b;
        bottom: -10px;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        width: 60px;
    }

.contact-detail {
    overflow: hidden;
    height: 100%;
}

    .contact-detail ul {
        list-style: none;
        padding: 0;
        border-right: 1px solid #eaeaea;
        height: 100%;
    }

        .contact-detail ul li {
            border-bottom: 1px solid #eaeaea;
            margin-bottom: 15px;
            padding-bottom: 15px;
            color: #343a40;
            font-size: 18px;
        }

            .contact-detail ul li label {
                background: #ff5f2b;
                color: #fff;
                font-size: 12px;
                margin-right: 10px;
                padding: 2px 10px;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 0;
            }

            .contact-detail ul li .fa-phone {
                transform: rotate(90deg);
            }

.members-area h3 {
    font-size: 18px;
    color: #343a40;
    font-weight: 600;
    margin-bottom: 2px;
}

.members-area h4 {
    color: #909090;
    font-size: 11px;
    letter-spacing: 5px;
    text-indent: 5px;
    text-transform: uppercase;
}

.members-area .member-photo {
    border: 1px solid #ff5f2b;
    border-radius: 50%;
    height: 90px;
    margin: 10px auto 20px auto;
    overflow: hidden;
    width: 90px;
}

.members-area .card {
    border: none;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.members-area .member-photo img {
    border: 4px solid #fff;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.members-area .btn-contact {
    margin-top: 10px;
    background: #fff;
    border-color: #ff5f2b;
    font-size: 12px;
    padding-top: 7px;
    position: relative;
    height: 35px;
    font-weight: 800;
    overflow: hidden;
    color: #ff5f2b;
}

    .members-area .btn-contact:hover {
        background: #ff5f2b;
        color: #fff;
    }

    .members-area .btn-contact i {
        transform: rotate(90deg);
    }







.site-footer {
    background-color: #26272b;
    color: #737373;
    font-size: 15px;
    line-height: 24px;
    padding: 45px 0 20px;
}

    .site-footer h6 {
        color: #fff;
        font-size: 16px;
        letter-spacing: 2px;
        margin-top: 5px;
        text-transform: uppercase;
    }

    .site-footer a {
        color: #737373;
    }

    .site-footer hr {
        border-top-color: #bbb;
        opacity: 0.5;
    }

.footer-links {
    padding-left: 0;
    list-style: none
}

    .footer-links li {
        display: block
    }

    .footer-links a {
        color: #737373
    }

        .footer-links a:active, .footer-links a:focus, .footer-links a:hover {
            color: #3366cc;
            text-decoration: none;
        }

    .footer-links.inline li {
        display: inline-block
    }

.site-footer .social-icons {
    text-align: right;
}

.social-icons {
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;
}

    .social-icons li {
        display: inline-block;
        margin-bottom: 4px;
    }

.site-footer .social-icons a {
    background-color: #33353d;
    border-radius: 100%;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    width: 40px;
    display: block;
    text-align: center;
}

.social-icons a.twitter:hover {
    background-color: #00aced;
    color: #fff;
}

.social-icons a.linkedin:hover {
    background-color: #007bb6;
    color: #fff;
}




/* Sorting section and Pagination section css starts */

.search-bar i {
    position: absolute;
    right: 13px;
    top: 12px;
    font-size: 17px;
    color: #b7b7b7;
}

.search-bar {
    position: relative;
}

    .search-bar #search-bar, .sort-selectbox select {
        float: left;
        width: 100%;
        height: 43px;
        box-shadow: 0px 0px 0px transparent;
        border: 1px solid #c3c3c3 !important;
        padding: 5px 20px;
        border-radius: .25rem !important;
    }

        .sort-selectbox select:hover, .sort-selectbox select:active, .sort-selectbox select:focus {
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }

.pagination-bottom ul.pagination li a {
    color: #6c757d;
}

.pagination-bottom ul.pagination li.active a {
    background: #f25a29;
    border: 0px none;
}

.pagination-bottom ul.pagination li a:hover {
    background-color: transparent;
}

.pagination-bottom ul.pagination li.next a {
    color: #f25a29;
}








/* Sorting section and Pagination section css ends */
