@model IEnumerable<Escademy.ViewModels.WithdrawalDataModel>

@section scripts {
    <script src="/Scripts/js/jquery-3.3.1.min.js" type="text/javascript" language="javascript"></script>
    <script src="/Scripts/js/bootstrap.min.js" type="text/javascript" language="javascript"></script>
    <script src="/Scripts/js/popper.min.js" type="text/javascript" language="javascript"></script>
    <script src="/Scripts/js/vanta.js" type="text/javascript" language="javascript"></script>
    <script src="/Scripts/js/bootstrap.min1.js" type="text/javascript" language="javascript"></script>
    <script src="/Scripts/js/jquery.min.js" type="text/javascript" language="javascript"></script>
    <script src="/Scripts/js/chat.js" type="text/javascript" language="javascript"></script>

    <script type="text/javascript" language="javascript">

    </script>

    <!-- FlexSlider -->
    <script src="/Scripts/js/jquery.flexslider.js"></script>
    <script src="/Scripts/js/helper-plugins.js"></script>
    <script src="/Scripts/js/init.js"></script>

}
@section styles {

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/css/all.css">
    <link href="/Content/css/font-awesome.min.css" rel="stylesheet">
    <!-- Styles Rendered -->
    <link href="/Content/css/cssb.css" rel="stylesheet">
    <link href="/Content/css/custom-style.css" rel="stylesheet" />

}




<table class="table table-hover" id="tableList_1">
    <thead>
        <tr>
            <th>Email ID</th>
            <th>Amount</th>
            <th class="text-right">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailID)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)                
                </td>
                <td class="text-right">
                    <a href="@Url.Action("CreatePaymentRequest","Profiles",new { emailId=item.EmailID,amount=item.Amount})" class="btn btn-primary" id="accept">Accept</a>
                    <a href="@Url.Action("DeclinePaymentRequest","Profiles", new { emailId=item.EmailID} )" class="btn btn-danger" id="decline">Decline</a>                  
                </td>
              
            </tr>
        }
    </tbody>
</table>

