
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Payment Cancelled.</title>

    <a href="@Url.Action("Earnings","Profiles" )">Back to Wallet Page</a>
</head>
<body>
    <div> 
    </div>
</body>
</html>
